html {
	height: 100%;
	overflow: auto;
}

.nomeSistema {
	text-align: right;
	position: relative;
	float: right;
	right: 18px;
	width: 220px;
	top: -60px;
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic',
		'ITC Franklin Gothic', Arial, sans-serif;
}

.imagemMarcaDAgua {
	/*background-image: url(resources/images/logoIndra.jpg);*/
	background-position: center;
	/*background-attachment:fixed;*/
	height: 400px;
	background-size: 80%;
	opacity: 0.1;
	filter: alpha(opacity =       10); /* IE8 e anteriores */
}

.botao3d {
	background: -webkit-linear-gradient(bottom, #C4C4C4, #F3F3F3 70%);
	background: -moz-linear-gradient(bottom, #C4C4C4, #F3F3F3 70%);
	background: -o-linear-gradient(bottom, #C4C4C4, #F3F3F3 70%);
	background: -ms-linear-gradient(bottom, #C4C4C4, #F3F3F3 70%);
	background: linear-gradient(bottom, #C4C4C4, #F3F3F3 70%);
	border: 1px solid #A8A8A8;
	border-radius: 4px;
	padding: 2px 13px;
	font-family: 'ITC Franklin Gothic', Arial, sans-serif;
	text-align: center;
}

.botao3d:hover {
	position: relative;
	top: 1px;
	left: 1px;
}

.itemMenu:hover {
	transform: scale(1.015, 1.015);
	transform-style: preserve-3d;
	position: relative;
}

.logoCabeRight {
	background-color: black;
	width: 465px;
	height: 62px;
	/*left: 265px;	
	background: url(https://access.indraweb.net/vpn/images/ctxHeader02.gif) no-repeat center top fixed;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

.logoCabeLeft {
	/*background-image: url(/resources/images/logoIndra.gif);*/
	position: absolute;
}

.logoCabeRodape {
	left: 0px;
	position: relative;
	background-color: #5B5B5B;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 25px;
}

.rodape {
	text-align: center;
	width: 100%;
	color: Black;
	background-color: rgb(243, 243, 243);
	height: 38px;
	position: fixed;
	left: 0px;
	bottom: 0;
}

.divDialog {
	position: relative;
	width: 100%;
	text-align: center;
}

.divLogin {
	top: 70px;
	left: 200px;
	position: relative;
	width: 327px;
	height: 230px;
	border: 1px solid rgba(134, 134, 134, 0.48);
	-moz-box-shadow: 5px 5px 5px #ADADAD;
	-webkit-box-shadow: 5px 5px 5px #ADADAD;
	border-radius: 21px;
}

.divLoginCenter {
	position: relative;
	width: 250px;
	position: absolute;
	top: 33%;
	left: 30%;
	margin-top: -50px;
	margin-left: -50px;
}

.divMsg {
	position: relative;
	top: 12px;
}

.divCorpo {
	position: relative;
	width: 100%;
	top: 10px;
}

.calendario input {
	width: 90px !important;
}

.breadCrumb {
	top: 10px;
	position: relative;
	background: #FFFFFF;
	background: #FFFFFF
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
	border: 1px solid #FFFFFF;
}

.divContSaldo {
	float: right;
	position: relative;
	width: 260px;
	top: -6px;
	height: 20px;
	text-align: right;
	right: 8px;
}

.divSaldo {
	left: 26px;
	position: relative;
	overflow: hidden;
	width: 21px;
	float: right;
	right: 8px;
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
	transition: width 2s;
}

.divSaldo:hover {
	width: 210px;
}

.value {
	width: 1000px;
}

.Reprovada .fc-event-skin {
	background: rgb(255, 0, 0) !important;
	color: white !important;
}

.Aprovada .fc-event-skin {
	background: rgb(61, 161, 61) !important;
	color: white !important;
}

.Pendente .fc-event-skin {
	background: rgb(236, 236, 14) !important;
	color: black !important;
}

.AprovadoLider .fc-event-skin{
	linear-gradient(to bottom, rgb(62, 173, 62) , rgb(236, 236, 14) )
}

.divNomeProjeto {
	position: relative;
	right: initial;
	top: -24px;
	width: 263px;
	height: 1px;
}

.objNomeProjeto {
	position: relative;
	top: -25px;
	right: -45px;
	text-align: justify;
	text-overflow: initial;
	text-rendering: optimizeLegibility;
	font-weight: bolder;
}

.objNomeGerente {
	position: relative;
	top: -25px;
	right: -59px;
	text-align: justify;
	text-overflow: initial;
	text-rendering: optimizeLegibility;
	font-weight: bolder;
}

.divNomeGerente {
	position: relative;
	top: -24px;
	right: -250px;
	height: 1px;
}

.classFieldSet .ui-fieldset,.ui-fieldset .ui-fieldset-legend {
	top: -1px;
	width: inherit;
	height: 0px;
	text-align: start;
	position: relative;
	text-align: 1px;
	line-height: 1px;
	font-size: small;
}

.ui-paginator .ui-paginator-rpp-options  {
	width: 62px;
	position: relative;
	top: 5px;
}